{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    Moodle template for the login page.

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": true,
        "canloginbyemail": true,
        "cansignup": true,
        "error": "testerror",
        "errorformatted": "Test error formatted",
        "forgotpasswordurl": "http://example.com/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "instructions": "For full access to this site, you first need to create an account.",
        "loginurl": "http://example.com/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "username": ""
    }
}}
{{#hasinstructions}}
<div class="loginbox clearfix twocolumns" id="loginbox">
{{/hasinstructions}}
{{^hasinstructions}}
<div class="loginbox clearfix onecolumn" id="loginbox">
{{/hasinstructions}}

    <div class="loginpanel" id="loginForm">
        {{#cansignup}}
            <div class="skiplinks">
                <a class="skip" href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
            </div>
        {{/cansignup}}

        <!--<h2>{{#str}} login {{/str}}</h2>-->

        <div class="subcontent loginsub">
            {{#error}}
                <div class="loginerrors" role="alert">
                    <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                    {{{errorformatted}}}
                </div>
            {{/error}}
            <div class="loginform_title">
            		<!--<h3><img src=""/>{{#str}} login {{/str}}</h3>-->
            		<h3><img src="{{#str}} holferRoot {{/str}}/testLogin.png"/>登入</h3>
            	</div>
            <form action="{{loginurl}}" method="post" id="login">
                <div class="loginform">
                <!--    
                    <div class="form-label">
                        <label for="username">
                            {{^canloginbyemail}}
                                {{#str}} username {{/str}}
                            {{/canloginbyemail}}
                            {{#canloginbyemail}}
                                {{#str}} usernameemail {{/str}}
                            {{/canloginbyemail}}
                        </label>
                -->
                    </div>
                    <div class="form-input" style="display:flex; width:100%;">
                    		<div class="leftSpace">
                    			<img src="{{#str}} holferRoot {{/str}}/email.png" />
                    			<label for="username" class="inputLabel">電郵
                        		</label>
                        	</div>	
                        <input type="text" class="loginInput" name="username" id="username" size="15" value="{{username}}">
                        <div class="rightSpace"></div>
                    </div>
                    <div class="clearer"><!-- --></div>
                    <div class="form-input" style="display:flex; width:100%;">
                    		<div class="leftSpace">
                    			<img src="{{#str}} holferRoot {{/str}}/pass.png" />
                    			<label for="password" class="inputLabel">密碼</label>
                        	</div>	
                        <input type="password" class="loginInput" name="password" id="password" size="15" value="">
                        <div class="rightSpace"></div>
                </div>

                <div class="clearer"><!-- --></div>
                
                {{#rememberusername}}
                    <div class="rememberpass">
                    		<div class="loginButton"><img src="{{#str}} holferRoot {{/str}}/testLogin.png"/><input type="submit" id="loginbtn" value={{#quote}}登入{{/quote}} /></div>
                        <label for="rememberusername">記住用戶</label>
                        <input type="checkbox" class="loginRemember" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                    		<div class="clearer" style="height:0;"><!-- --></div>
                    </div>
                {{/rememberusername}}
                
                <div class="clearer"><!-- --></div>
                
                <div class="forgetpass">
                		<div class="loginButton"><a href="{{forgotpasswordurl}}">？忘記密碼</a></div>
                    <span>Cookie必須在您的瀏覽器中啟用
                {{{cookieshelpiconformatted}}}</span>
                    <div class="clearer"><!-- --></div>
                </div>
                <div class="signup">
                		<div class="loginButton"><img src="{{#str}} holferRoot {{/str}}/testLogin.png"/><a href="{{signupurl}}" class="Asignup">新登錄</a></div>
                    <span>要完全訪問此網站，您首先需要創建一個帳戶
                    <div class="clearer"><!-- --></div>
                </div>
                <input id="anchor" type="hidden" name="anchor" value="" />
                <script>document.getElementById('anchor').value = location.hash;</script>
                
                <div class="loginForm_bg">
                		<img src="{{#str}} holferRoot {{/str}}/form_bg.png" />
                </div>
                
            </form>
            </div>

        </div>

		<div class="divWhiteLine"></div>

        {{#canloginasguest}}
            <div class="subcontent guestsub">
                <!--<div class="desc">{{#str}} someallowguest {{/str}}</div>-->
                <form action="{{loginurl}}" method="post" id="guestlogin">
                    <div class="guestform" id="guestform">
                    		<img src="{{#str}} holferRoot {{/str}}/loginVisit.png" id="guestForm_bg" />
                        <!--<img src="{{#str}} holferRoot {{/str}}/guestIcon.png" id="guestIcon" />-->
                        <!--<img src="{{#str}} holferRoot {{/str}}/guestButton.png" id="guestButton" />-->
                        <input type="hidden" name="username" value="guest" />
                        <input type="hidden" name="password" value="guest" />
                        <input id='guestInputButton' type="submit" value={{#quote}}{{/quote}} />
                    </div>
                </form>
                <script>
                		document.getElementById('guestform').style.height = document.getElementById('loginForm').offsetHeight+'px';
                		document.getElementById('guestform').style.width = 'auto';
                {{#js}}
                		window.onresize=function(){
                			document.getElementById('guestform').style.height = document.getElementById('loginForm').offsetHeight+'px';
                			document.getElementById('guestform').style.width = 'auto';
                		}
                		
                {{/js}}
                </script>
            </div>
        {{/canloginasguest}}

    </div>
<!--
    <div class="signuppanel">
    {{#hasinstructions}}
        <h2>{{#str}} firsttime {{/str}}</h2>
        <div class="subcontent">
            {{{instructions}}}
            {{#cansignup}}
                <div class="signupform">
                    <form action="{{signupurl}}" method="get" id="signup">
                        <div>
                            <input type="submit" value={{#quote}}{{#str}} startsignup {{/str}}{{/quote}} />
                        </div>
                    </form>
                </div>
            {{/cansignup}}
        </div>
    {{/hasinstructions}}
!-->
    {{#hasidentityproviders}}
        <div class="subcontent potentialidps">
            <h6>{{#str}} potentialidps, auth {{/str}}</h6>
            <div class="potentialidplist">
                {{#identityproviders}}
                    <div class="potentialidp">
                        <a href="{{url}}" title={{#quote}}{{name}}{{/quote}} class="btn">
                        {{#iconurl}}
                            <img src="{{iconurl}}" alt="" width="24" height="24"/>
                        {{/iconurl}}
                        {{name}}
                        </a>
                    </div>
                {{/identityproviders}}
            </div>
        </div>
    {{/hasidentityproviders}}
    </div>
</div>

{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
